[Interface]
Address = {% for ip in wg_local.Address | ensure_list %}{{ ip }}{% if not loop.last %}, {% endif %}{% endfor %}

{% if wg_local.ListenPort == defaults_local.ListenPort and 'ListenPort' in topology %}
ListenPort = {{ topology.ListenPort }}
{% elif wg_local.ListenPort %}
ListenPort = {{ wg_local.ListenPort }}
{% endif %}
PostUp = wg set %i private-key {{ privkey_file_full }}
MTU = {{ wg_local.MTU }}
{% if topology.type == 'star' %}
{# star-center does not work with those routes (gateway needed) #}
Table = off
{% elif wg_local.Table not in ['', 'off', none] %}
Table = {{ wg_local.Table }}
PostUp = if ! ip rule show | grep -q '{{ wg_local.Table }}';then ip rule add to all lookup {{ wg_local.Table }}{% if wg_local.TablePref %} pref {{ wg_local.TablePref }}{% endif %};fi
{% elif wg_local.Route or topology.Route %}
# no routing table provided; using defaults
{% else %}
Table = off
{% endif %}
{% if wg_local.DNS not in ['', ' ', none] and wg_local.DNS | length > 0 and WG_CONFIG.support.dns %}
DNS = {% for dns in wg_local.DNS | ensure_list %}{{ dns }}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}
{% for script_key in ['PreUp', 'PostUp', 'PreDown', 'PostDown'] %}
{%   for script in wg_local[script_key] | ensure_list %}
{{ script_key }} = {{ script }}
{%   endfor %}
{% endfor %}