# {{ ansible_managed }}
# ansibleguy.infra_wireguard

# topology: {{ topology.type }}
{% if topology.type == 'star' %}
# role: {{ wg_local.role }}
{% endif %}

{% include "inc/base.conf.j2" %}
{% if topology.type == 'star' and (wg_local.Route or topology.Route) %}

# auto-routes
{% include "inc/routing.conf.j2" %}

{% endif %}
{% if wg_local.Endpoint is undefined or wg_local.Endpoint == '' %}
# get dynamic endpoint to re-/connect
{%   include "inc/dynamic.conf.j2" %}
{% endif %}

{% include "inc/peer.conf.j2" %}
