# {{ ansible_managed }}
# ansibleguy.infra_wireguard_s2s

# topology: star
# type: edge

{% set this_site = WG_CONFIG.sites[this_server_name] %}
{% set tunnel_ip_key = WG_HC.tunnel_ip_prefix + this_server_name %}

{{ tunnel_config }}

